<div class="flex justify-center items-center h-full">
    <div *ngIf="isLoading" class="flex flex-col justify-center items-center">
      <mat-spinner diameter="150"></mat-spinner>
      <p class="text-xl">Loading...</p>
    </div>
    <div
      class="bg-gray-100 p-6 rounded shadow-md"
      [ngClass]="vehiclesFormArray.length === 0 ? 'w-1/2' : ''"
      *ngIf="!isLoading"
    >
      <div class="mb-4">
        <div class="mb-10 flex">
          <div class="text-2xl font-bold">Edit Vehicles</div>
          <div class="grow"></div>
          <button
            type="submit"
            (click)="onSave($event)"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2"
          >
            Save
          </button>
          <button
            (click)="addVehicle()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Add Vehicle
          </button>
        </div>
        <div
          *ngIf="vehiclesFormArray.length === 0"
          class="text-center text-gray-500"
        >
          There are no vehicles
        </div>
        <div
          *ngFor="let vehicleFormGroup of vehiclesFormArray; let i = index"
        >
          <form [formGroup]="vehicleFormGroup" class="flex flex-row gap-4">
            <div class="mb-4">
              <label for="value" class="block text-gray-700 font-bold mb-2"
                >Value (&euro;):</label
              >
              <input
                type="number"
                id="value"
                name="value"
                class="w-full border border-gray-300 p-2 rounded"
                formControlName="value"
              />
              <div
                *ngIf="
                  vehicleFormGroup.get('value')!.invalid &&
                  vehicleFormGroup.get('value')!.touched
                "
                class="text-red-500"
              >
                {{ vehicleFormGroup.get('value')!.errors?.["serverError"]
                    ? vehicleFormGroup.get('value')!.errors?.["serverError"]
                    : 'Invalid value' }}
              </div>
            </div>
            <div class="mb-4">
                <label for="year_of_manufacture" class="block text-gray-700 font-bold mb-2"
                  >Year of Manufacture :</label
                >
                <input
                  type="number"
                  id="year_of_manufacture"
                  name="year_of_manufacture"
                  class="w-full border border-gray-300 p-2 rounded"
                  formControlName="year_of_manufacture"
                />
                <div
                  *ngIf="
                    vehicleFormGroup.get('year_of_manufacture')!.invalid &&
                    vehicleFormGroup.get('year_of_manufacture')!.touched
                  "
                  class="text-red-500"
                >
                  {{ vehicleFormGroup.get('year_of_manufacture')!.errors?.["serverError"]
                      ? vehicleFormGroup.get('year_of_manufacture')!.errors?.["serverError"]
                      : 'Invalid Year of Manufacture' }}
                </div>
              </div>
            <div class="mb-4">
              <label
                for="vehicle_type"
                class="block text-gray-700 font-bold mb-2"
                >Vehicle Type:</label
              >
              <select
                id="vehicle_type"
                name="vehicle_type"
                class="w-full border border-gray-300 p-2 rounded"
                formControlName="vehicle_type"
              >
                <option value="car">Car</option>
                <option value="motorcycle">Motorcycle</option>
                <option value="truck">Truck</option>
                <option value="bus">Bus</option>
              </select>
              <div
                *ngIf="
                  vehicleFormGroup.get('vehicle_type')!.invalid &&
                  vehicleFormGroup.get('vehicle_type')!.touched
                "
                class="text-red-500"
              >
                {{ vehicleFormGroup.get('vehicle_type')!.errors?.["serverError"]
                      ? vehicleFormGroup.get('vehicle_type')!.errors?.["serverError"]
                      : 'Invalid Vehicle type' }}
              </div>
            </div>
            <div class="mb-4">
                <label
                  for="use_type"
                  class="block text-gray-700 font-bold mb-2"
                  >Use Type:</label
                >
                <select
                  id="use_type"
                  name="use_type"
                  class="w-full border border-gray-300 p-2 rounded"
                  formControlName="use_type"
                >
                  <option value="personal">Personal</option>
                  <option value="business">Business</option>
                </select>
                <div
                  *ngIf="
                    vehicleFormGroup.get('use_type')!.invalid &&
                    vehicleFormGroup.get('use_type')!.touched
                  "
                  class="text-red-500"
                >
                  {{ vehicleFormGroup.get('use_type')!.errors?.["serverError"]
                        ? vehicleFormGroup.get('use_type')!.errors?.["serverError"]
                        : 'Invalid Use type' }}
                </div>
              </div>
           
            <div class="mb-4 flex flex-col justify-end items-end">
              <button
                (click)="removeVehicle(i)"
                class="bg-red-500 text-white px-4 py-2 rounded"
              >
                Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  