<div class="py-8 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <div class="text-center m-10">
            <div class="bg-gray-100 rounded-lg shadow-lg p-6">
                <h1 class="text-4xl font-bold text-gray-900 mb-4">Intelligent Tax Filling App</h1>
                <p class="text-lg text-gray-700 mb-8">ITFA is a simple web app where the user inputs his/her tax information and can get recommendations on how to proceed with it.</p>
            </div>
        </div>
        <div class="max-w-3xl mx-auto">
            <div class="bg-gray-100 rounded-lg shadow-lg p-6">
                <h2 class="text-2xl font-bold text-gray-900 mb-4">Its Purpose</h2>
                <p class="text-lg text-gray-700 mb-8">The main purpose of the app is to showcase my proficiency in developing a full-stack application. It begins with the frontend, where users can input their tax information and receive recommendations on how to proceed. Moving on, I add a backend that includes CRUD APIs to handle data manipulation. Additionally, I integrate the app with the OPEN AI API to enhance its functionality. Finally, I containerize the entire application and utilize GitHub Actions to automate the process of pushing it to Docker Hub. This comprehensive project demonstrates my skills in frontend development, backend implementation, API integration, containerization, and continuous deployment.</p>
            </div>
        </div>
    </div>
</div>